@model MovieSearch.Web.Models.CountryViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit country</h2>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
    
    
@using (Html.BeginForm())
{
@Html.Partial("~/Views/Shared/_CountryEditPartial.cshtml")
}
    
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
