@{
    ViewBag.Title = "Home Page";
    <p></p>
    <p>
        <h2>@Html.ActionLink("Movies", "Index", "Movie")</h2>
    </p>
    <p>
        <h2>@Html.ActionLink("Genres", "Index", "Genre")</h2>
    </p>
    <p>
        <h2>@Html.ActionLink("People", "Index", "People")</h2>
    </p>
}
