@model MovieSearch.Web.Models.CareerViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit career</h2>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
    
    
@using (Html.BeginForm())
{
    @Html.Partial("~/Views/Shared/_CareerEditPartial.cshtml")
}
    
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
